.input_search_bar {
  position: relative;
  transform: translateY(calc(-50% + 12px));
}

.input_search {
  height: 56px;
  font-size: 18px;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  width: calc(100% - 105px);
}

.btn_search {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 56px;
}