.container {
  background-color: #11377C;
  // height: 222px;
  min-height: 222px;
  padding-bottom: 2rem;
}

.header_bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,0.26) 0%, rgba(255,255,255,0.089) 50%, rgba(255,255,255,0) 100%);

  span {
    position: unset !important;
  }

  .image {
    overflow-x: hidden;
    min-width: 1512px !important;
    min-height: 222px !important;
  }
}

.header_section {
  padding: 0 20%;
  padding-top: 3rem;
  
  .title {
    color: #ffffff;
    font-weight: 200;

    &.h1 {
      margin-bottom: 0;
    }

    &.sub_head {
      font-weight: normal;
    }
  }

  @media (max-width: 945px) {
    padding: 0 5%;
    padding-top: 55px;
  }
}

.nav-link {
  color: red;
}