.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
  background-color: #11377C;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
  width: 100%;
  z-index: 900;
  color: #fff;
}

.logo {
  width: 100%;
  height: 3em;
}

.user {
  display: flex;
  align-items: center;
}

.btn_logout {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(32, 32, 32, 0.2);
  background: none;
  cursor: pointer;
}

.btn_logout svg {
  transform: translateX(2px);
}

.username {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.user_logo {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.nav_link {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  gap: 2rem;
}

.nav_link a {
  font-size: 1rem;
}

.nav_link a:hover {
  color: #fff;
  text-decoration: underline;
}

.link_active {
  color: #fff;
}

