.container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: calc(100% - var(--w-sidebar));
  margin-left: var(--w-sidebar);
  margin-top: var(--h-header);
  background-color: #F9F9F9;
}

.main {
  background-color: #F9F9F9;
  padding: 0 2.5rem 2.5rem 2.5rem;
  overflow: scroll;
  min-height: calc(100vh - var(--h-header))
}

@media (min-width: 4000px) {
  .main {
    padding: 0 15rem 5rem 15rem;
  }
}
