.container {
  padding: 0 0 1rem 0;
  --w-sidebar-open: 200px;
  width: var(--w-sidebar);
  /* position: absolute; */
  /* z-index: 1000; */
  background-color: #202020;
  height: 100vh;
  overflow: auto;
  transition: all 0.4s;
  color: #FFFFFF;
  overflow-y: auto;
  position: fixed;
  top: calc(var(--h-header) - 7px);
  z-index: 2000;
}

.container.open {
  width: var(--w-sidebar-open);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 1rem;
  height: 105px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu_list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.menu_item {
  text-overflow: ellipsis;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  margin-bottom: 0.5rem;
}

.link_text {
  transition: all 0.4s;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8) !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container.open .menu_list {
  width: 80%;
}

.container.open .link {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: .5rem;
}

.container.open .menu_item .link_text {
  width: auto;
}

.menu_item_active {
  background: var(--primary);
}

.menu_item_active .link_text {
  color: #FFFFFF !important;
}
