.login_top_bg {
  position: absolute;
  z-index: -1;
}

.bottom_login_img {
  height: inherit;
}

.login_logo {
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
  margin-bottom: -75px;
}

.login_card {
  padding: 45px 120px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 600px;
  max-height: 700px;
  background-color: #fff;
  box-shadow: 0 0 12px rgb(31, 31, 31);
  overflow: hidden;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 32px;

  .login_title {
    text-align: center;
    margin-bottom: 1.125em;
    
    .header_text {
      margin-bottom: 8px;
    }
    .subheader_text {
      opacity: 0.6;
    }
  }
  .buttonlogin {
    background-color: #11377C;
    color: #fff;
    border-radius: 12px;
    margin-bottom: 1rem;
  }
}

.box_alert_error {
  margin-bottom: 1rem;
}
