.tag {
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px 12px;
}

.blue {
  background-color: rgba(210, 218, 255, 0.7);
  color: #0029FF;
}

.green {
  background-color: rgba(199, 254, 201, 0.7);
  color: #09A910;
}


.red {
  background-color: rgba(254, 199, 199, 0.7);
  color: #FF0000;
}
