.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.label {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 6px;
}

.star {
  color: #ff4d4f;
}

.error {
  color: #ff4d4f;
  min-height: 22px;
}
