.label {
  color: #808080;
  font-weight: 400;
  font-size: 1rem;
  line-height: 16px;
}

.value {
  font-size: 1rem;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: inherit;
  width: 100%;
  display: block;
}