.card{
  border-radius: 8px;
}

.card_gray{
  border-radius: 8px;
  background-color: #FAFAFA;
}

.btn{
  background-color: #FF900E;
  border-radius: 8px;
  margin-left: 10px;
  color: #FAFAFA;
}

.footer{
  display: flex;
  justify-content: "end";
}

.slide_in{
  margin-left: -350px;
  transition-property: margin-left;
  transition-duration: 3s;
}