@font-face {
  font-family: 'Prompt';
  src: url('/font/prompt/Prompt-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Prompt';
  src: url('/font/prompt/Prompt-Light.eot');
  src: url('/font/prompt/Prompt-Light.eot?#iefix') format('embedded-opentype'),
    url('/font/prompt/Prompt-Light.woff2') format('woff2'), url('/font/prompt/Prompt-Light.woff') format('woff'),
    url('/font/prompt/Prompt-Light.ttf') format('truetype'),
    url('/font/prompt/Prompt-Light.svg#Prompt-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('/font/prompt/Prompt-Medium.eot');
  src: url('/font/prompt/Prompt-Medium.eot?#iefix') format('embedded-opentype'),
    url('/font/prompt/Prompt-Medium.woff2') format('woff2'),
    url('/font/prompt/Prompt-Medium.woff') format('woff'),
    url('/font/prompt/Prompt-Medium.ttf') format('truetype'),
    url('/font/prompt/Prompt-Medium.svg#Prompt-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('/font/prompt/Prompt-Regular.eot');
  src: url('/font/prompt/Prompt-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/prompt/Prompt-Regular.woff2') format('woff2'),
    url('/font/prompt/Prompt-Regular.woff') format('woff'),
    url('/font/prompt/Prompt-Regular.ttf') format('truetype'),
    url('/font/prompt/Prompt-Regular.svg#Prompt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('/font/prompt/Prompt-Bold.eot');
  src: url('/font/prompt/Prompt-Bold.eot?#iefix') format('embedded-opentype'),
    url('/font/prompt/Prompt-Bold.woff2') format('woff2'), url('/font/prompt/Prompt-Bold.woff') format('woff'),
    url('/font/prompt/Prompt-Bold.ttf') format('truetype'),
    url('/font/prompt/Prompt-Bold.svg#Prompt-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
