@import url(./font.css);
@import url(./variables.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  scroll-padding-top: var(--h-header);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mt_5 {
  margin-top: 5px !important;
}

.mt_10 {
  margin-top: 10px !important;
}

.mt_20 {
  margin-top: 20px !important;
}

.pl_40 {
  padding-left: 40px !important;
}

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-deep-black {
  background-color: var(--deep-black);
}

.card {
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 1.125rem 1.875rem;
}

.ant-card-body {
  border-radius: 6px;
  padding: 16px 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.10);
  transition: all 0.3s ease-out
}

/* .ant-card-body:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.20);
} */

.ant-typography {
  font-size: 1rem;
}

.ant-typography-secondary {
  font-size: 0.875rem;
}

.bold {
  font-family: "Prompt-Bold";
}

.secondText {
  color: #797979;
}

.gray {
  color: var(--gray);
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.gap05 {
  gap: 0.5rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.w-100 {
  width: 100%;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.grid {
  display: grid;
}

.grid-auto-fill-05 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.grid-auto-fill-07 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}

.grid-auto-fill-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-auto-fill-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-auto-fill-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.span-2 {
  grid-column: auto / span 2;
}

.span-3 {
  grid-column: auto / span 3;
}

.span-4 {
  grid-column: auto / span 4;
}

.span-6 {
  grid-column: auto / span 6;
}

.grid-auto-fit-05 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.grid-auto-fit-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.hidden {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
}

.title-1 {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.title-2 {
  font-size: 1.125rem;
}

.p-1 {
  font-size: 1rem;
}

.p-2 {
  font-size: 0.875rem;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.my-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.a-error .ant-input-affix-wrapper:not(.ant-input),
.a-error .ant-input,
.a-error .ant-picker,
.a-error .ant-select-selector {
  background: #fff;
  border: 1px solid #ff4d4f !important;
}

.a-error .ant-input-affix-wrapper>.ant-input {
  border: none !important;
}

.a-error .ant-input-prefix {
  color: #ff4d4f;
}

.a-error .ant-form-item-explain {
  height: auto;
  min-height: 24px;
  opacity: 1;
}

.datepick_prefix_icon .ant-picker-input span.ant-picker-suffix {
  margin-left: 1px !important;
  margin-right: 10px !important;
  order: -1 !important;
}

.ant-card-head-title {
  padding: 8px 0px;
}

.ant-collapse-header {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.ant-tag {
  font-size: 13px;
  margin-right: 0px;
}


.card_styles {
  border-radius: 4px 4px 0 0;
}

.card_styles .ant-card-head {
  border-bottom: 1px dashed #0000003f;
  padding: 0 20px;
}

.ant-divider-dashed {
  border-width: 2px 0 0;
}

.card_styles .ant-card-head-title {
  padding: 10px 0;
}

.card_styles .ant-card-body {
  padding: 10px 20px;
}

.overflow-x {
  overflow-x: auto;
}

.ant-input[disabled] {
  color: rgb(99, 99, 99);
}

.p-dd-item {
  padding: 6px 0;
}

.title-3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.bg-orange {
  background-color: var(--orange);
}

.border-radius-6 {
  border-radius: 6px
}

.color-white {
  color: white
}

.bg-gray-2 {
  background-color: var(--gray-2);
}

.card-filter-bar {
  background-color: var(--gray-2);
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  padding: 1.375rem 1.625rem;
}

.custom-bg-thead-antd thead[class*="ant-table-thead"] th {
  background-color: var(--gray-2) !important;
}

.ant-btn {
  border-radius: 6px;
}

.btn-orange {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: white
}

.btn-orange:hover,
.btn-orange:focus {
  color: var(--orange);
  background-color: #fff;
  border-color: var(--orange);
}

.bg-card-form {
  background: #FFFFFF;
  box-shadow: 1px 2px 12px rgba(130, 130, 130, 0.12);
  border-radius: 10px;
  padding: 1.5rem 3rem;
}

.text-gray-3 {
  color: var(--gray-3);
}

.text-desc-form {
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray-3);
}

.select-size-text-area .ant-select-selection-search,
.select-size-text-area .ant-select-selection-search input {
  height: 63px !important;
}

.bg-card-item {
  background-color: var(--gray-4);
  border: 0.75px solid #CACACA;
  border-radius: 8px;
  padding: 0.938rem 2.438rem;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-subtext2 {
  color: var(--subtext2);
}

.text-size-15 {
  font-size: 1.5rem
}

.text-weight-500 {
  font-weight: 500;
}

.bg-card-tracking {
  background: #FFFFFF;
  box-shadow: 1px 4px 20px rgba(130, 130, 130, 0.25);
  border-radius: 6px;
  padding: 1.5rem 3rem;
}

.text-end {
  text-align: end
}

.modal-footer-center .ant-modal-footer{
  display: flex;
  justify-content: center;
}
