.container {
  z-index: 4000;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  opacity: 0.3;
}