.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

.container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #2B2B2B;
}

.container p {
  font-size: 1rem;
  font-weight: 500;
  color: #797979;
  text-align: center;
}