:root {
  --primary: #11377C;
  --primary-op9: rgba(27, 65, 135, 0.9);
  --text: #202020;
  --subtext: rgba(0, 0, 0, 0.7);
  --subtext2: #20202060;
  --linktext: #096BFF;
  --brown: #440028;
  --gray: #D9D9D9;
  --w-sidebar: 100px;
  --w-sidebar-open: 200px;
  --h-header: 77px;
  --orange: #FF900E;
  --gray-2: #F5F5F5;
  --gray-3: #808080;
  --gray-4: #FAFAFA;
  --dark-blue: #2E354E;
}
