.card_space {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.card_space_all {
  display: flex;
  justify-content: space-between;
}

.card_failed {
  font-size: 0.8rem;
  font-weight: normal;
  color: #999999;

  svg {
    font-size: 15px !important;
  }
}

.card_sub_title {
  font-size: 0.9rem;
  font-weight: normal;
}

.card_content_list {
  margin-left: 0;
  margin-bottom: 0;
}

.container {
  div {
    flex-direction: inherit;
    margin-bottom: 0;
  }
}

.collapse_styles {
  background-color: #fafafa;
  border-right: 2px solid #fafafa;
  border-radius: 6px;
  max-height: 20px;

  svg {
    font-size: 20px;
  }
}

.tab_styles {
  background-color: #DFDFDF;
}

.card_margin {
  margin-bottom: 8px;
  cursor: pointer;
}

.card_has_updated {
  border: 1px solid rgba($color: #000000, $alpha: 0.06);
  border-top: none;
  background-color: #fcf1d5;
  padding: 4px 0;
  text-align: center;
  border-radius: 0 0 4px 4px;

  span {
    font-size: 0.825rem;
    font-weight: normal;
    color: #FF7A00;
  }
}

.card-scroll {
  overflow: scroll;
  height: 240;
}

.card_code {
  font-size: 0.825rem;
  font-weight: normal;
  color: #fafafa;
}

.product_list {
  width: 200;
  max-width: 100%;
}

.collapse_scroll {
  overflow: none;
}

@media screen and (max-width: 767px) {
  .collapse_scroll {
    overflow: scroll;
    height: 300px;
  }
  .collapse_styles {
    background-color: #fafafa;
    border-right: 2px solid #fafafa;
    border-radius: 6px;
    max-height: 350px;
  }
}

@media (min-width: 768px){
  .card_space_all {
    display: block;
  }
  .card_content_list {
    margin-left: -25px;
    margin-bottom: 0;
  }
  .collapse_scroll {
    overflow: none;
  }
  .collapse_styles {
    background-color: #fafafa;
    border-right: 2px solid #fafafa;
    border-radius: 6px;
  }
}

@media (min-width: 1300px) {
  .card_space_all {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .card_content_list {
    margin-left: -25px;
    margin-bottom: 0;
  }
  .card_space_all {
    display: flex;
  }
  .card_sub_title {
    font-size: 1.1rem;
    font-weight: normal;
  }
  .card_code {
    font-size: 1rem;
    font-weight: normal;
    color: #fafafa;
  }
}