.detail_page {
  margin-top: 2em;

  @media (min-width: 1920px) {
    margin: 2em 13em;
  }
}

.card_body {
  padding: 15px 30px;
}

.card_header {
  display: flex;
  justify-content: space-between;
}

.card_title {
  font-weight: 500;
  font-size: 1rem;
}

.card_label {
  color: #6f6f6f;
}

.card_value {
  font-weight: 500;
}